/* Speech class */
.speech {
    font-family: sans-serif;
    font-size: 16px;
    color: red;
  }
  .speech1 {
    font-family: sans-serif;
    font-size: 16px;
    color:purple;
  }
  
  /* Direction class */
  .direction {
    font-family: monospace;
    font-size: 14px;
    color: black;
    background-color: lightgray;
  }
  
  /* Direction hover class */
  .direction:hover {
    background-color: purple;
    color:orange;
  }
  
  /* Character class styles */
  .NORA {
    color: red;
  }
  
  .NURSE {
    color: blue;
  }
    